---
layout: default
title: JimLabs
---
{% include JB/setup %}
<script src="{{ BASE_PATH }}/assets/themes/carousel/js/jquery.js"></script>
    <script src="{{ BASE_PATH }}/assets/themes/carousel/js/bootstrap-transition.js"></script>
    <script src="{{ BASE_PATH }}/assets/themes/carousel/js/bootstrap-alert.js"></script>
    <script src="{{ BASE_PATH }}/assets/themes/carousel/js/bootstrap-modal.js"></script>
	<script src="{{ BASE_PATH }}/assets/themes/carousel/js/bootstrap-dropdown.js"></script>
    <script src="{{ BASE_PATH }}/assets/themes/carousel/js/bootstrap-scrollspy.js"></script>
    <script src="{{ BASE_PATH }}/assets/themes/carousel/js/bootstrap-tab.js"></script>
    <script src="{{ BASE_PATH }}/assets/themes/carousel/js/bootstrap-tooltip.js"></script>
    <script src="{{ BASE_PATH }}/assets/themes/carousel/js/bootstrap-popover.js"></script>
    <script src="{{ BASE_PATH }}/assets/themes/carousel/js/bootstrap-button.js"></script>
    <script src="{{ BASE_PATH }}/assets/themes/carousel/js/bootstrap-collapse.js"></script>
    <script src="{{ BASE_PATH }}/assets/themes/carousel/js/bootstrap-carousel.js"></script>
    <script src="{{ BASE_PATH }}/assets/themes/carousel/js/bootstrap-typeahead.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel();

        })
      }(window.jQuery)
    </script>
    <script src="{{ BASE_PATH }}/assets/themes/carousel/js/holder/holder.js"></script>
	 <link href="{{ BASE_PATH }}/assets/themes/carousel/css/bootstrap.css" rel="stylesheet">
    <link href="{{ BASE_PATH }}/assets/themes/carousel/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="{{ BASE_PATH }}/assets/themes/carousel/css/style.css" rel="stylesheet">
<!-- Carousel
    ================================================== -->

    <div id="myCarousel" class="carousel slide" style="margin-left: auto;margin-right: auto;/*text-align: center;*/">
      <div class="carousel-inner" style="margin-left: auto;margin-right: auto;">
		<div class="item active">
          <img src="{{ BASE_PATH }}/assets/themes/carousel/img/1.jpg" alt="" class="img-rounded">
          <div class="container">
            <div class="carousel-caption">
              <h1>Team Introduction </h1>
              <p class="lead"></p>
              <a class="btn btn-large btn-primary" href="{{ BASE_PATH }}/page/team.html">Details</a>
            </div>
          </div>
        </div>
	<!--	<div class="item ">
          <img src="{{ BASE_PATH }}/assets/themes/carousel/img/2.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Working mode:<p style="margin-top: 10px">
                    The whiteboard</p></h1>
              <a class="btn btn-large btn-primary" href="#">Details</a>
            </div>
          </div>
        </div>-->
        <div class="item ">
          <img src="{{ BASE_PATH }}/assets/themes/carousel/img/indoor.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Indoor Roaming</h1>
              <a class="btn btn-large btn-primary" href="{{ BASE_PATH }}/indoor/index.html">Details</a>
            </div>
          </div>
        </div>
      </div>
        <a class=" carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class=" carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>

    </div><!-- /.carousel -->

<!--<div class="container marketing">

    &lt;!&ndash; Three columns of text below the carousel &ndash;&gt;
    <div class="row">
        <div class="span4" style="background: ">
                <h4 style="/*background-color:  #0088cc;*/height: 50px; /*color: #FFFFFF;*/line-height:50px; overflow:hidden;margin: 0 ; padding-left: 20px;" >
                    Recent Posts </h4>
                <ul style="list-style-type:none; text-align: left">
                    {% for post in site.posts limit:5%}
                    　<li  style="line-height: 10px;font-size: 17px;">
                    <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
                            <a href="{{ post.url }}" style="margin-left: 30px;">{{ post.title }}</a> </li>
                    　　　{% endfor %}
                </ul>
        </div>&lt;!&ndash; /.span4 &ndash;&gt;
        <div class="span5"  >
            <img class="img-polaroid" data-src="holder.js/400x200">
            <h2>Project activities</h2>
        </div>&lt;!&ndash; /.span4 &ndash;&gt;
        <div class="span3">
            <p><img class="img-rounded" data-src="holder.js/50x50" src="{{ BASE_PATH }}/assets/themes/carousel/img/qq.jpg">
                <span>20688101</span>
            </p>
            <p> <button class="btn btn-primary" type="button">Q Q</button>
                <span>20688101</span>
            </p>
            <p> <button class="btn btn-primary" type="button">微博</button>
                <span>20688101</span>
            </p>
            <p> <button class="btn btn-primary" type="button">邮箱</button>
                <span>20688101@qq.com</span>
            </p>
            <h2 style="">Contact</h2>
            <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>&lt;!&ndash; /.span4 &ndash;&gt;
    </div>&lt;!&ndash; /.row &ndash;&gt;
</div>-->
