<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{page.title}} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/css/bootstrap.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet">
    

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{ ASSET_PATH }}/js/html5shiv.js">

      </script>
    <![endif]-->

    <!-- Fav and touch icons -->
   
  </head>

  <body>



    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
		  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
           
            <a class="brand" href="{{ BASE_PATH }}/">JimLabs</a>

            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><a href=" {{ BASE_PATH }}/page/team.html ">Team Introduction </a></li>
				<li class="dropdown">
                  <a href="." class="dropdown-toggle" data-toggle="dropdown">Demonstrate<b class="caret"></b></a>
				  <ul class="dropdown-menu">
					<li><a href="{{ BASE_PATH }}/indoor/index.html">Indoor Roaming</a></li>

				<!--	<li><a href="{{ BASE_PATH }}/page/car.html">Interactive display car</a></li>
                    <li><a href="{{ BASE_PATH }}/page/ar.html">Augmented reality system development(ar)</a></li>
                    <li><a href="{{ BASE_PATH }}/page/gis.html">3D GIS Management System</a></li>-->
                  </ul>
                </li>
				<li><a  href="{{ BASE_PATH }}/blog/index.html ">Blog</a></li>
                  <li><a href="{{ BASE_PATH }}/calorifer/index.html">Calorifer</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->


	{{content}}


    <div class="container marketing">
      <!-- FOOTER -->
        <hr>
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p class="pull-left">&copy; 2013 JimLabs, Inc.   </p>  
		<p class="pull-center" align="center">Contact: 20688101(QQ)</a></p> 
      </footer>
		
    </div><!-- /.container -->

	

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ ASSET_PATH }}/js/jquery.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-transition.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-alert.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-modal.js"></script>
	<script src="{{ ASSET_PATH }}/js/bootstrap-dropdown.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-scrollspy.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-tab.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-tooltip.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-popover.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-button.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-collapse.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-carousel.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap-typeahead.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel();
		  $('.dropdown-toggle').dropdown();
        })
      }(window.jQuery)
    </script>
    <script src="{{ ASSET_PATH }}/js/holder/holder.js"></script>
  </body>
</html>
