<div class="container marketing">
	<br >
    <br >
    <br >
    <br >
    <h2 style="font-weight: bold">{{ page.title }}</h2>
    <hr>
    <div class="row">
        <div class="span9">
		{{content}}
            <div style=" float:left;">
                <h4>

                    {% if page.previous %}Previous : <a  href="{{ site.url }}{{ page.previous.url }}" >  {{ page.previous.title  }}</a>{% endif %}
                    {% unless page.previous %}<span> First article</span> {% endunless %}

                </h4>
                </div><div  style=" float:right;">
                <h4>

                    {% if page.next %} Next :<a  href="{{ site.url }}{{ page.next.url }}"   > {{ page.next.title  }}</a>{% endif %}
                    {% unless page.next %} <span> Last article</span> {% endunless %}

                </h4>
            </div>
        </div>
        <div class="span3" style="background-color:#EEEEE0">
           <div >
               <h4  style="background-color:  #0088cc;height: 50px; color: #FFFFFF;line-height:50px; overflow:hidden;margin: 0 ; padding-left:25px;">Published Time  </h4>
               <p style="margin: 12px 0 12px 25px;font-size: 17px">{{ page.date | date:"%Y-%m-%d" }}</p>
           </div>
            <div>
                <h4  style="background-color:  #0088cc;height: 50px; color: #FFFFFF;line-height:50px; overflow:hidden;margin: 0 ; padding-left:25px;">Categories </h4>
                <ul style="list-style-type: none;margin: 12px 0 12px 25px;font-size: 17px">
                    {% for cat in page.categories %}
                    <li style="line-height: 20px;">
                        <a href="{{ BASE_PATH }}/page/categories.html/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>
                    </li>  {% endfor %}
                </ul>
            </div>
            <div>
                <h4 style="background-color:  #0088cc;height: 50px; color: #FFFFFF;line-height:50px; overflow:hidden;margin: 0 ; padding-left:25px;">Tags </h4>
                <ul style="list-style-type: none;margin: 12px 0 12px 25px;font-size: 17px">
                    {% for tag in page.tags %}
                    <li style="line-height: 30px;">
                        <a href="{{ BASE_PATH }}/page/tags.html#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
                    </li>  {% endfor %}
                </ul>

            </div>

        </div>


    </div>
    {% include comments.md %}
</div>

